<li>
	<div>
		<h1>
			<%= link_to("#{article.id} #{article.title}", article_path(article.id)) %>
		</h1>
		<p>
			<% excerpt_limit = 80 %>
			<%= article.body[0..excerpt_limit] %>
			<%= '...' if article.body.length > excerpt_limit %>
			<%= link_to('[Read more]', article_path(article.id)) %>
		</p>
	</div>
</li>