<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">  
    <nav>
      <%= link_to "index", articles_path, id: "logo" %>
      <%= link_to "new",   new_article_path %>
    </nav>
  </div>
</header>