<h1>Update Article <%= "#{@article.title}" %></h1>
<form action="/articles" method = "post">Title:<br>
  <input type="text" name="article[title]" value="<%= @article.title %>"><br>
  Body:<br>
  <textarea name="article[body]"><%=@article.body %></textarea>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" value="Submit" >
</form>