<h3>Update Article #<%= @article.id %>

<form action="/articles" method="post">
  <label for="title">Title</label>
  <input type="text" name="article[title]">

  <label for="body">Body</label>
  <input type="textarea" name="article[body]" rows="4" cols="50">

  <input type="submit">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
  <input name="_method" type="hidden" value="patch" />
</form>