<h3>
	Update Article "<%= @article.title %>"
</h3>

<form method="post" action= article_path>
    <input name="_method" type="hidden" value="patch" />
	Title
	<br>
	<input type="text" name="title" value="<%= @article.title %>" >	<br>
	Body
	<br>
	<input type="text" name="body" value="<%= @article.body %>">
	<br>
  <input type="submit" value="Edit">
</form>