<h1>All Articles</h1>


<table id="articles">
<% @articles.each do | article | %>
	<tr>
		<td>Title: <%= link_to article.title, article_path( article ) %>
		</td>
		<td>
		ID:<%= article.id %>
	  </td>
	  <td>
		<%= link_to "EDIT", edit_article_path( article ) %>
		</td>
	</tr>
<% end %>
</table>


<%= link_to "Create Article", new_article_path %>