<ul>
<% @articles.each do |article| %>
  <li><%= link_to "#{article.title}", article_path(article) %></li>
  <%= link_to "Delete this post", article_path(article), method: "delete", data: { confirmation: "Are you sure?" } %>
<% end %>
</ul>
