<h1>Create an article</h1>

<form>
Article content:<br />
<input  type="hidden" 
name="authenticity_token" 
value="<%= form_authenticity_token %>">
<input type="text" name="body" placeholder="content goes here...">
</form>