<table>
  <tr>
    <td><b>ID</b></td>
    <td><b>TITLE</b></td>
    <td><b>Edit</b></td>
    <td><b>Delete</b></td>
  </tr>
  <% @articles.each do |article| %>
  <tr>
    <td>
      <%= link_to article.id, article_path(article) %>
    </td>
    <td>
      <%= link_to article.title, article_path(article) %>
    </td>
    <td>
      <%= link_to "Edit", edit_article_path(article) %>
    </td>
    <td>
      <%= link_to "Delete", method: "delete" %>
    </td>
  </tr>
  <% end %>
</table>