<h1>Articles#index</h1>
<ul>
<% @articles.each do |article| %>  
  <li> <%= "#{article.id}, #{article.title}, #{article.body}" %> </li>
  <%= link_to "Edit Article", edit_article_path(article) %>
<% end %>
</ul>

