<h1>Articles Front Page</h1>

<% @articles.each do |article| %>
<ul>
	<h3><%=link_to article.title, article_path(article) %></h3>
</ul>

<% end %>

<%= link_to "Create a New Article", new_article_path, class: "new_article" %>