

<form action="/articles" method="post">
  First name:<br>
  <input type="text" name="article[title]" value="Your Title">
  <br>
  Last name:<br>
  <textarea name="article[body]" >
  </textarea>
  <br>
  <br>
  <input type="submit" value="Submit">

  <input  type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

</form>


