<h1>All Articles</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Title</th>
  </tr>

    <% @articles.each do |article| %>
      <tr>
        <td>
          <%= link_to "#{article.id}", article_path(article.id) %>
        </td>
        <td>
          <%= link_to "#{article.title}", article_path(article.id) %>
        </td>
      </tr>
      <!-- <br/> -->
    <% end %>
</table>