<form>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <h1>Title</h1>
  <input></input>
  <h1>Body</h1>
  <textarea></textarea>

  <button type="submit">Submit Form</button>
</form>
