
<form method="post" action="/create" >
  Title: <input name="title" type="text" placeholder="Title">
  Body: <input name="body" type="text-area" placeholder="Your post...">
  <input type="submit" value="Submit Article">
</form>