<form action="/" method="post">
  <input type="text" name="title" placeholder="Title">
  <textarea name="body" placeholder="Post Content"></textarea>
  <input  type="hidden" 
    name="authenticity_token" 
    value="<%= form_authenticity_token %>">
  <input type="submit" value="click me">
</form>