<form action=<%= articles_path %> method="post">

  <input type="text" name="article[title]">
  <input type="text" name="article[body]">

  <input type="submit" value="Post Article!">


  <input  type="hidden" 
    name="authenticity_token" 
    value="<%= form_authenticity_token %>">

</form>
