<form action='/new' method='post'>
  <input type='text' placeholder='field' name='form_field'>

</form>

<input  type="hidden" 
    name="authenticity_token" 
    value="<%= form_authenticity_token %>">