<form action="/articles" method="post">
  <input type="text" name="article[title]" placeholder="Title">
  <input type="textarea" name="article[body]" placeholder="Body">
  <input  type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">
  <input type="submit" value="Submit!">
</form>
