<form action="new_article_path" method="post">

  <input type="text" name="title">
  <input type="text" name="body">

  <input type="submit" value="Post Article!">


  <input  type="hidden" 
    name="authenticity_token" 
    value="<%= form_authenticity_token %>">

</form>
