<h1>New Article</h1>
<form action="/articles#create" method: "post">Title:<br>
  <input type="text" name="title"><br>
  Body:<br>
  <textarea name="body"></textarea>
  <input type="submit" value="Submit" >
  <input type="hidden" name="authenticity_token" 
        value="<%= form_authenticity_token %>">
</form>