<h1>Articles</h1>

<form action="<%= new_article_path %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>
    <label for="title">Title</label> <br>
    <input id="title" type="text" name="title" value="">
  </p>
  <p>
    <label for="body">Body</label> <br>
    <textarea id="body" name="body" rows="8" cols="80"></textarea> <br>
  </p>
  <p><input type="submit" name="submit" value="Submit"></p>
</form>
