<form action= "/articles" method= "post">
	<label for= "title">Title</label>
	<input type= "text" name= "title">

	<labelfor= "body">Body</label>
	<input type= "textarea" name= "body">
	<input type= "submit" value= "Publish">

	<input type= "hidden" 
		   name= "authenticity_token" 
		   value= "<%= form_authenticity_token %>">
</form>