<form action="<%= articles_path %>" method="post">
  <label for="title">Title</label>
  <input type="text" name="title"><br>
  <label for="body">Your Text</label>
  <input type="textarea" name="body"><br>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" value="Save!">
</form>
