<form action="new" method="post">
  <input type="text" name="title" placeholder="Title">
  <input type="textarea" name="body" placeholder="Body">
  <input  type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">
</form>
