<form>
  Title:<br>
  <input type="text" name="title"><br>
  Body:<br>
  <input type="text" name="body"><br>
  <input type="submit" name="submit">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form>
