<form action=<%=articles_path%> method="post">
  <input type="text" name="articles[:title]" placeholder="Title">
  <textarea name="articles[:body]" placeholder="Post Content"></textarea>
  <input  type="hidden" 
    name="authenticity_token" 
    value="<%= form_authenticity_token %>">
  <input type="submit" value="click me">
</form>