<form method="POST" action="articles">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <h1>Title</h1>
  <input type="text" name="article[title]" value="42"></input>
  <h1>Body</h1>
  <textarea type="text" name="article[body]" value="Post for 42">Post for 42</textarea>
  <input type="submit"></input>
</form>
