<h1><%= @article.title %></h1>

<div class="">
  <%= @article.body %>
</div>

<div class="">
  <%= link_to "Edit", edit_article_path %>
</div>

<div class="">
  <%= link_to "Delete", article_path(@article), method: :delete %>
</div>
