<h3>Published article:</h3>
<br>
<%= link_to 'Delet Article', article_path(@article ), method: "delete"  %><br>
<%= link_to 'Edit Article', edit_article_path(@article ) %>
<br>
<h2>
  <%= @article.title %>
</h2>
<p>
  <%= @article.body %>
</p>
