<div id="navbar" class="navbar-default navbar-collapse collapse">
  <ul class="nav navbar-nav">
    <li><%= link_to 'Posts', articles_path %></li>
    <li><%= link_to 'New Post', new_article_path %></li>
  </ul>
</div>
