
* {

	font-family: "Arial", "sans-serif";

}


#articles td {

	padding: 0;
	width: 150px;

}

.button {

	background-color: #CCC;
	text-decoration: none;
	border-radius: 7px;
	padding: 1px;
	border: 1px solid black;

}

.button:hover {
	background-color: black;
	color: #CCC;

}