// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {

	font-family: "Arial", "sans-serif";

}


#articles li {

	list-style: none;
	padding: 5px;
	border: 1px solid #CCC;

}

